.btn {
    border: none;
    padding: 0;
    background: none;
    outline:none;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 7px 7px 16px 0px rgba(84, 84, 84, 0.75);
    -moz-box-shadow:    7px 7px 16px 0px rgba(84, 84, 84, 0.75);
    box-shadow:         7px 7px 16px 0px rgba(84, 84, 84, 0.75);
    border-radius: 40px;
    cursor: pointer;
}
  
  /* Green */
  .success {
    border-color: #4CAF50;
    color: green;
  }
  
  .success:hover {
    background-color: #4CAF50;
    color: white;
  }

.body__el {
    display: flex;
    flex-wrap: wrap;
    flex-flow: center;
    align-content: center;    
    align-items: center;
    flex-direction: row;;
}


.bg {

    width: fit-content;
    height: fit-content;    
    align-items: center;
    margin: 15px;
    background-color: #83649B;
    border-radius: 40px;
}

.bg:hover{
    background-color:  #926ead; 
}

img {
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 40px;
}

.svg_icon {

    border-radius: 40px;
    width: max-content;
    height: max-content;
    /* margin: 1% 34% 15px 34%; */
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0px 20px; */
    margin-bottom: 20px;
    margin-top: 0px;
}

.title__text {
    margin: 10px 20px 25px 20px;
    font-size: 50px;
}

.header {
    width: 2;
    height: 75px;
    background-color:  #926ead;
    /* margin: 0px; */
}

body {
    margin: 0px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #E5E5E5;
}

.name {
    margin: 0px 8% 0px 20%;
    display: flex;
}

.name__surname {
    font-size: 24px;
    margin: 25px 0px 25px 10px;
    display: flex;
    flex-direction: row;    
}

.icon {
    width: 51px;
    height: auto;
    margin: 6px;
}

.buttons {
    display: flex;
    margin: 4px 15px 12px 60%;
}

.btn__text {
    font-size: 24px;
}

.btn__2 {
    border: none;
    padding: 0;
    background: none;
    outline:none;
    margin: 0px 30px 12px 1px;
    top: 0px;
}

button {
    cursor: pointer;
}

.no__link,
.no__link:active,
.no__link:hover{
    text-decoration: none;
    color: black
}

